<form>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" required class="form-control" id="title" aria-describedby="titleHelp" placeholder="">
    <small id="titleHelp" class="form-text text-muted">The title of the book*</small>
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" required class="form-control" id="author" aria-describedby="authorHelp" placeholder="">
    <small id="authorHelp" class="form-text text-muted">The author of the book*</small>
  </div>
  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input type="text" required class="form-control" id="isbn" aria-describedby="isbHelp" placeholder="">
    <small id="isbnHelp" class="form-text text-muted">ISBN of the book that you can usually find on the back or on the first page*</small>
  </div>
  <div class="form-group">
    <label for="image">Image URL</label>
    <input type="url" class="form-control" id="image" aria-describedby="imageHelp" placeholder="">
    <small id="imageHelp" class="form-text text-muted">An URL to the image of the book</small>
  </div>
  <div class="form-group">
    <label for="desc">Description</label>
    <input type="text" class="form-control" id="desc" aria-describedby="descHelp" placeholder="">
    <small id="descHelp" class="form-text text-muted">Extra description of the book you want to add</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
